@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-bar{
    display: block;
    overflow-y: auto;
    margin: 1em auto;
}

.scroll-bar::-webkit-scrollbar{
    width: 7px;
    height: 8px;

    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 7px;
}

.break-message{
    word-break: normal;
    overflow-wrap: break-word;
}